html {
   scroll-snap-type: y mandatory;
}

body {
   cursor: none;
   font-family: "Poppins", sans-serif;
   font-size: 40px;      
   margin:0;
   padding:0;
   width:100%; 
   height:100%;
   overflow-y: scroll;
   overflow-x: hidden;
   scroll-snap-type: y mandatory;
   z-index: -100;
}




/*////////////// LOADER////////////// */
#loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
}

#loading-text {
   font-size: 3vw;
   color: #5d35ff;
   font-weight: 300;
   text-align: right;
   position: absolute;
   padding-top: 7.5vw;
   padding-left: 18.5vw;
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%);
}

.loader-active #loader {
   display: flex;
}

#loaderDesignContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

#loaderAnim {
   padding-bottom: 7.5vw;
   width: 25vw;
   height: auto;
   z-index: 9999;
}

#loaderLine {
   position: absolute;
   top: 50%; 
   left: 0;
   height: 2.5vw;
   width: 25vw;
   border-bottom: 2px solid #5d35ff;
   z-index: 2;
   transform: translateY(-50%); 
}

.loader-fade-out {
   opacity: 0;
   transition: opacity 0.2s ease;
}




/*////////////// MOUSE ////////////// */
.custom-ellipse {
   position: fixed;
   top: 50%;
   left: 25%;
   transform: translate(-50%, -50%);
   z-index: -10;
   width: 30vw;
   height: 30vw;
   pointer-events: none;
}

.custom-ellipse2 {
   position: fixed;
   top: 50%;
   left: 25%;
   transform: translate(-50%, -50%);
   z-index: 100000;
   width: .7vw;
   height: .7vw;
   pointer-events: none;
   transition: width 0.3s ease, height 0.15s ease;
}

.custom-ellipse3 {
   position: fixed;
   top: 50%;
   left: 25%;
   transform: translate(-50%, -50%);
   z-index: 100000;
   width: .7vw;
   height: .7vw;
   pointer-events: none;
   transition: width 0.3s ease, height 0.15s ease;
}

.custom-ellipse4 {
   position: fixed;
   top: 50%;
   left: 25%;
   transform: translate(-50%, -50%);
   z-index: 100000;
   width: .7vw;
   height: .7vw;
   pointer-events: none;
   transition: width 0.3s ease, height 0.15s ease;
}

.custom-ellipse span {
   display: block;
   width: 100%;
   height: 100%;
   background-color: #87ffb7;
   opacity: .7;
   border-radius: 50%;
   filter: blur(7.5vw);
}

.custom-ellipse2 span {
   display: block;
   width: 100%;
   height: 100%;
   background-color: white;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   transition: background-color 0.15s ease;
}

.custom-ellipse2.custom-ellipse2-hover {
   width: 55px;
   height: 55px;
   border-radius: 50%;
   transform: translate(0%, 0%);
   z-index: 10000000;
}

.custom-ellipse2.custom-ellipse2-hover span {
   background-color: #6052f5;
}

.custom-ellipse3 span {
   display: block;
   width: 100%;
   height: 100%;
   background-color: white;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   transition: background-color 0.15s ease;
}

.custom-ellipse3.custom-ellipse3-hover {
   width: 2vw;
   height: 2vw;
   border-radius: 50%;
   transform: translate(0%, 0%);
   z-index: 10000000;
}

.custom-ellipse3.custom-ellipse3-hover span {
   background-color: #6052f5;
}

.custom-ellipse4 span {
   display: block;
   width: 100%;
   height: 100%;
   background-color: white;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   transition: background-color 0.15s ease;
}

.custom-ellipse4.custom-ellipse4-hover {
   width: 6vw;
   height: 6vw;
   border-radius: 50%;
   transform: translate(0%, 0%);
   z-index: 10000000;
}

.custom-ellipse4.custom-ellipse4-hover span {
   background-color: #6052f5;
}





#canvas {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index:0;
   opacity:.65;
}

#back {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: -100;
   background-image: linear-gradient(210deg, rgb(40, 131, 251), rgb(220, 144, 255));
}

#backOverlay {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: -90;
   display: none;
   background-image: linear-gradient(0deg, #87ffb700,#87ffb700, #87ffb7b8);
}

#buttonLanguage {
   cursor: none;
   position: absolute;
   left:1.5%;
   top:1.5vw;
   height:2.55vw;  
   width:16.1%;
   background: rgba(211, 211, 211, 0);
   border: none;
   transform: perspective(1px) translateZ(0);
   transition: color 0.3s;
   z-index: 10;
   color: #ffffff;
   text-align: center;
   padding-top: .2vw;
   padding-bottom: .4vw;
   font-family: "Poppins", sans-serif;
   font-size:1.1vw;
} #buttonLanguage:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   background: #ffffff;
   transform: scaleY(0);
   transform-origin: 0 100%;
   transition: transform 0.3s ease-out;
} #buttonLanguage:hover {
   color: #6052f5;
} #buttonLanguage:hover:before {
   transform: scaleY(1);
}


#buttonAbout {
cursor: none;
position: absolute;
left:82.5%;
top:1.5vw;
height:2.55vw;  
width:16%;
background: rgba(211, 211, 211, 0);
border: none;
transform: perspective(1px) translateZ(0);
transition: color 0.3s;
z-index: 10;
color: #ffffff;
text-align: center;
padding-top: .2vw;
padding-bottom: .4vw;
font-family: "Poppins", sans-serif;
font-size:1.1vw;
} #buttonAbout:before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
background: #ffffff;
transform: scaleY(0);
transform-origin: 0 100%;
transition: transform 0.3s ease-out;
} #buttonAbout:hover {
color: #6052f5;
} #buttonAbout:hover:before {
transform: scaleY(1);
}


#buttonContact{
cursor: none;
position: absolute;
left:66.5%;
top:1.5vw;
height:2.55vw;  
width:16.1%;
background: rgba(211, 211, 211, 0);
border: none;
transform: perspective(1px) translateZ(0);
transition: color 0.3s;
z-index: 10;
text-align: center;
color: #ffffff;
padding-top: .2vw;
padding-bottom: .4vw;
font-family: "Poppins", sans-serif;
font-size:1.1vw;
} #buttonContact:before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
background: #ffffff;
transform: scaleY(0);
transform-origin: 0 100%;
transition: transform 0.3s ease-out;
} #buttonContact:hover {
color: #6052f5;
} #buttonContact:hover:before {
transform: scaleY(1);
}


.name{
position:absolute;
left: 50%;
top:8.6vw;
color: #ffffff;
font-size:5.5vw;
line-height: .9;
z-index: 2;
font-weight: 400;
letter-spacing: -.3vw;
}.name2{
position:absolute;
left: 50%;
top:13.5vw;
color: #ffffff;
font-size:5.5vw;
line-height: .9;
z-index: 2;
letter-spacing: -.3vw;
font-weight: 100;
}

#info{
position: absolute;
width:37vw;
left: 52.2vw;
top: 25.3vw;
font-size:1.1vw;
z-index: 2;
color: #ffffff;
}

#buttonPortfolio{
cursor: none;
position: absolute;
left: 52vw;
top:33vw;
padding-top:.6vw;
padding-bottom: .6vw;
background-color: #ffffffff;
color: rgb(73, 170, 255);
border: solid 1px;
transition-duration: 0.4s;
border-radius: 0;
font-size: 1.2vw;
font-family: "Poppins", sans-serif;
font-weight: 600;
width:15vw;
border: none;
z-index: 2;
}

#buttonPortfolio:hover{
color: #6052f5;
}



/*----------------------------------------------*/
/*------------------- RETICULA------------------*/
/*----------------------------------------------*/


#line1 {
position:absolute;
top:4vw;
left:1.5%;
height:0px;
width:1px;
border-top:2px solid #ffffff;
z-index: 2;
} @keyframes increase {
100% {
width: 97%;
}
} .animate1 {
animation: increase 2s; 
animation-fill-mode: forwards;
}


#line2 {
position:absolute;
top:4vw;
left:1.5%;
height:0px;
width:1px;
border-left:2px solid #ffffff;
z-index: 2;
} @keyframes increase2 {
100% {
height: 2.5vw;
top:1.5vw;
}
} .animate2 {
animation: increase2 .5s; 
animation-fill-mode: forwards;
}


#line3 {
position:absolute;
top:4vw;
left:17.5%;
height:0px;
width:1px;
border-left:2px solid #ffffff;
z-index: 2;
} @keyframes increase3 {
100% {
height: 2.5vw;
top:1.5vw;
}
} .animate3 {
animation: increase3 .5s; 
animation-delay: .4s;
animation-fill-mode: forwards;
}


#line4 {
position:absolute;
top:4vw;
left:66.5%;
height:0px;
width:1px;
border-left:2px solid #ffffff;
z-index: 2;
} @keyframes increase4 {
100% {
height: 2.5vw;
top:1.5vw;
}
} .animate4 {
animation: increase4 .5s; 
animation-delay: 1s;
animation-fill-mode: forwards;
}


#line5 {
position:absolute;
top:4vw;
left:82.5%;
height:0px;
width:1px;
border-left:2px solid #ffffff;
z-index: 2;
} @keyframes increase5 {
100% {
height: 2.5vw;
top:1.5vw;
}
} .animate5 {
animation: increase5 .5s; 
animation-delay: 1.3s;
animation-fill-mode: forwards;
}


#line6 {
position:absolute;
top:4vw;
left:98.45%;
height:0px;
width:1px;
border-left:2px solid #ffffff;
z-index: 2;
} @keyframes increase6 {
100% {
height: 2.5vw;
top:1.5vw;
}
} .animate6 {
animation: increase6 .5s; 
animation-delay: 2s;
animation-fill-mode: forwards;
}


#line7 {
position:absolute;
top:23vw;
left:50%;
height:0px;
width:1px;
border-top:2px solid #ffffff;
z-index: 2;
} @keyframes increase7 {
100% {
width: 48.5%;
}
} .animate7 {
animation: increase7 .5s; 
animation-fill-mode: forwards;
}


#line8 {
position:absolute;
top:23vw;
left:50%;
height:0px;
width:1px;
border-left:2px solid #ffffff;
animation: increase8 .5s; 
animation-delay: .5s;
animation-fill-mode: forwards;
z-index: 2;
} 

#line9 {
position:absolute;
top:30.5vw;
left:50%;
height:0px;
width:0px;
border-bottom:2px solid #ffffff;
z-index: 2;
} @keyframes increase9 {
100% {
width: 48.5%;
}
} .animate9 {
animation: increase9 1.6s;
animation-delay: .8s; 
animation-fill-mode: forwards;
}


#dot1 {
height: 2vw;
width: 2vw;
align-self: center;
background-color: #ffffff;
border-radius: 50%;
position:absolute;
margin-left: -1%;
left:50%;
top:39vw;
z-index: 2;
margin-top:2vw;
}



/*------------------- Ultrawide ------------------*/

@media only screen and (min-width: 1800px) {

/*---------MOUSE--------*/
.custom-ellipse2.custom-ellipse2-hover {
   width: 2vw;
   height: 2vw;
}

.custom-ellipse3.custom-ellipse3-hover {
   width: 1.5vw;
   height: 1.5vw;
}

.custom-ellipse4.custom-ellipse4-hover {
   width: 4vw;
   height: 4vw;
}

.custom-ellipse {
   width: 27vw;
   height: 27vw;
}

.custom-ellipse span {
   filter: blur(5.5vw);
}



/*----------LOADER---------*/
#loading-text {
font-size: 3vw;
font-weight: 300;
padding-top: 7.5vw;
padding-left: 15vw;
}

#loaderAnim {
padding-bottom: 7.5vw;
width: 20vw;
}

#loaderLine {
left: 0;
height: 1vw;
width: 20vw;
border-bottom: 2px solid #5d35ff;
}


.name{
width: 100%;
font-size:5.5vw;
top:7.5vw;
}.name2{
width: 100%;
font-size:5.5vw;
top:12.5vw;
}

#buttonLanguage {
font-size:.9vw;
} #buttonAbout {
font-size:.9vw;
} #buttonContact{
font-size:.9vw;
}

#info{
font-size: .9vw;
width:28vw;
top: 23vw;
} 

#buttonPortfolio{
font-size:.9vw;
top: 29.7vw !important;
}

#line7 {
top:21vw;
}#line8 {
top:21vw;
}#line9{
top:27.5vw;
}

#dot1 {
margin-top:0vw;
}

}


/*------------------- Vertical ------------------*/

@media screen and (orientation:portrait) {

.custom-ellipse {
   display: none;
}

.custom-ellipse2 {
   display: none;
}

.custom-ellipse3 {
   display: none;
}

.custom-ellipse4 {
   display: none;
}

body {
   cursor: default;
}

#back {
   background-image: linear-gradient(90deg, rgb(40, 131, 251), rgb(192, 144, 255));
}

#backOverlay {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: -90;
   display: block;
   background-image: linear-gradient(180deg, #87ffb700,#87ffb700, #87ffd59f);
}


/*----------LOADER---------*/
#loading-text {
font-size: 9vw;
font-weight: 300;
padding-top: 19vw;
padding-left: 37vw;
}

#loaderAnim {
padding-bottom: 19vw;
width: 55vw;
}

#loaderLine {
left: 0;
height: 5vw;
width: 55vw;
border-bottom: 2px solid #5d35ff;
}



#line1 {
top:6vw;
left:2.5%;
height:0px;
} @keyframes increase {
100% {
    width: 95%;
}
}    

#line2 {
top:2.5vw;
left:2.5%;
height:0px;
} @keyframes increase2 {
100% {
    height: 3.5vw;
    top:2.5vw;
}
}

#line3 {
top:2.5vw;
left:21.5%;
height:0px;
} @keyframes increase3 {
100% {
    height: 3.5vw;
    top:2.5vw;
}
}

#line4 {
top:2.5vw;
left:59.5%;
height:0px;
} @keyframes increase4 {
100% {
    height: 3.5vw;
    top:2.5vw;
}
}

#line5 {
top:2.5vw;
left:78.5%;
height:0px;
} @keyframes increase5 {
100% {
    height: 3.5vw;
    top:2.5vw;
}
}

#line6 {
top:2.5vw;
left:97.5%;
height:0px;
} @keyframes increase6 {
100% {
    height: 3.5vw;
    top:2.5vw;
}
}

#line7 {
top:37vw;
left:2.5%;
height:0px;
} @keyframes increase7 {
100% {
    width: 95%;
}
}    

#line8 {
top:37vw;
left:21.5%;
height:0px;
width:1px;
} 

#line9 {
top:52vw;
left:21.5%;
height:0px;
width:0px;
} @keyframes increase9 {
100% {
    width: 76%;
}
}

#dot1 {
height:3vw;
width: 3vw;
left:21.5%;
margin-left: -1.5%;
}

#buttonLanguage {
left:2.5%;
top:2.5vw;
height:3.55vw;  
width:19%;
padding-top: .2vw;
padding-bottom: .4vw;
font-size:1.75vw;
cursor: default;
}

#buttonContact{
left:59.5%;
top:2.5vw;
height:3.55vw;  
width:19.5%;
padding-top: .2vw;
padding-bottom: .4vw;
font-size:1.75vw;
cursor: default;
}  

#buttonAbout{
left:78.5%;
top:2.5vw;
height:3.55vw;  
width:19%;
padding-top: .2vw;
padding-bottom: .4vw;
font-size:1.75vw;
cursor: default;
}  


.name{
font-size:9vw;
top:13vw;
left: 21.5%;
}.name2{
font-size:9vw;
top:22vw;
left:21.5%;
}

#info{
font-size: 1.7vw;
width:55vw;
top: 42vw;
left:26%;
}

#buttonPortfolio{
float: left;
left: 26%;
top:85vh;
padding-top:.6vw;
padding-bottom: .6vw;
font-size: 2vw;
width:25vw;
cursor: default;
}


#canvas, #back, #buttonLanguage, #buttonAbout, #buttonContact, #buttonPortfolio, .custom-ellipse, .custom-ellipse2, .custom-ellipse2-hover, #letsWork, .name, .name2, #info, #line1, #line2, #line3, #line4, #line5, #line6, #line7, #line8, #line9, #dot1, #vid1, #vid2, #vid3, #myH1, #myH2, #myH3, #myG1, #myG2, #myG3 {
max-width: 100%;
}
}




/*---------------- Mobile - Vertical ---------------*/
@media only screen and (max-width: 480px){

.custom-ellipse2 {
display: none;
}

.name{
font-size:12vw;
top: 20vw;
left: 7%;
}.name2{
font-size:12vw;
top:31vw;
left:7%;
}

#line1{
top: 12vw;
left: 7%;
}  @keyframes increase {
100% {
    width: 86%;
}
}

#line7{
top: 50vw;
left: 7%;
}  @keyframes increase7 {
100% {
    width: 86%;
}
}

#line8{
top: 12vw;
left: 93%;
}

#line9{
top: 81vh;
left: 7%;
}  @keyframes increase9 {
100% {
    width: 86%;
}
}

#info{
left: 7%;
top: 59vw;
font-size:3.5vw;
width: 75vw;
font-weight: 300;
}

#dot1 {
height:6vw;
width: 6vw;
left:91.5%;
}

#buttonPortfolio{
left: 52%;
top:85vh;
padding-top:.6vw;
padding-bottom: .6vw;
font-size: 3.7vw;
width:35%;
}

#buttonLanguage {
left:6%;
top:4vw;
height:6vw;  
width:34vw;
padding-top: 0vw;
padding-bottom: 0vw;
font-size:3.3vw;
font-weight: 600;
text-align: left;
}   #buttonLanguage:before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
background:none;
transform: none;
transform-origin: none;
transition: none;
} #buttonLanguage:hover {
color: rgb(0, 0, 255);
} #buttonLanguage:hover:before {
transform: scaleY(1);
}



#buttonAbout{
display:none
} #buttonContact{
display:none
} #line2{
display:none 
} #line3{
display:none 
} #line4{
display:none 
} #line5{
display:none 
} #line6{
display:none 
}

#canvas, #back, #buttonLanguage, #buttonAbout, #buttonContact, #buttonPortfolio, .custom-ellipse, .custom-ellipse2, .custom-ellipse2-hover, #letsWork, .name, .name2, #info, #line1, #line2, #line3, #line4, #line5, #line6, #line7, #line8, #line9, #dot1, #vid1, #vid2, #vid3, #myH1, #myH2, #myH3, #myG1, #myG2, #myG3 {
max-width: 100%;
}
}











/*----------------------------------------------*/
/*------------------ Portafolio-----------------*/
/*----------------------------------------------*/


.section {
height: 100vh;
scroll-snap-align: start;
}

#seeProyect1{
border: 2px solid #6052f5;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size:1.7vh;
line-height: .9;
width: 9vw;
height: 5.5vh;
border-radius: .5vw;
color: #6052f5;
background-color: #FFF;
margin-left: 9vw;
transition-duration: 0.4s;
cursor: none;
}

#seeProyect2{
border: 2px solid #6052f5;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size:1.7vh;
line-height: .9;
width: 9vw;
height: 5.5vh;
border-radius: .5vw;
color: #6052f5;
background-color: #FFF;
margin-left: 9vw;
transition-duration: 0.4s;
cursor: none;
}

#seeProyect3{
border: 2px solid #6052f5;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size:1.7vh;
line-height: .9;
width: 9vw;
height: 5.5vh;
border-radius: .5vw;
color: #6052f5;
background-color: #FFF;
margin-left: 9vw;
transition-duration: 0.4s;
cursor: none;
}

#text-container {
display: grid;
grid-template-columns: 1fr max-content; 
align-items: flex-start; 
}


#button-container {
position: absolute;
}

#lineC1 {
border: 1px solid #6052f5;
margin-bottom: 10px;
margin-top: 0;
width: 34vw;
margin-left: 9vw;
cursor: none;
}

#lineC2 {
border: 1px solid #6052f5;
margin-bottom: 10px;
margin-top: 0;
width: 34vw;
margin-left: 9vw;
cursor: none;
}

#lineC3 {
border: 1px solid #6052f5;
margin-bottom: 10px;
margin-top: 0;
width: 34vw;
margin-left: 9vw;
cursor: none;
}


@media screen and (orientation:landscape) {

#text-container {
display: grid;
grid-template-columns: 1fr max-content; 
align-items: flex-start; 
}


#button-container {
position: absolute;
}

#myH1{
font-size: 2.5vh;
color:#6052f5;
font-weight: 400;
letter-spacing: -.1vw;
}

#myH2{
font-size: 2.5vh;
color:#6052f5;
font-weight: 400;
letter-spacing: -.1vw;
}

#myH3{
font-size: 2.5vh;
color:#6052f5;
font-weight: 400;
letter-spacing: -.1vw;
}


#myG1{
font-size:1.2vw;
font-weight: 400;
color: #323232;
}

#myG2{
font-size:1.2vw;
font-weight: 400;
color: #323232;
}

#myG3{
font-size:1.2vw;
font-weight: 400;
color: #323232;
}    

#card1{
position:absolute;
top:110vh;
left: 0;
width: 43%;
height: 50vh;
z-index: 10;
backdrop-filter: blur(20px);
background-color: rgb(250, 250, 250);
border-radius: 0px 2vw 2vw 0px;
text-align: right;
padding-right: 3%;
padding-top: 3vw;
line-height: .4;
}


#card2{
position:absolute;
top:145vh;
width: 40%;
height: 50vh;
z-index: 10;
right: 0;
backdrop-filter: blur(70px);
background-color: rgb(250, 250, 250);
border-radius: 2vw 0vw 0vw 2vw;
text-align: left;
padding-top: 3vw;
line-height: .4;
}

#card3{
position:absolute;
top:110vh;
width: 44%;
height: 50vh;
z-index: 10;
backdrop-filter: blur(20px);
background-color: rgb(250, 250, 250);
border-radius: 0px 2vw 2vw 0px;
text-align: right;
padding-right: 3%;
padding-top: 3vw;
line-height: .4;
}

#lineC1 {
border: 1px solid #6052f5;
margin-bottom: 10px;
margin-top: 0;
width: 34vw;
margin-left: 9vw;
cursor: none;
}

#lineC2 {
border: 1px solid #6052f5;
margin-bottom: 10px;
margin-top: 0;
width: 34vw;
margin-left: 9vw;
cursor: none;
}

#lineC3 {
border: 1px solid #6052f5;
margin-bottom: 10px;
margin-top: 0;
width: 34vw;
margin-left: 9vw;
cursor: none;
}

#seeProyect1{
border: 2px solid #6052f5;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size:1.7vh;
line-height: .9;
width: 9vw;
height: 5.5vh;
border-radius: .5vw;
color: #6052f5;
background-color: #FFF;
margin-left: 9vw;
transition-duration: 0.4s;
cursor: none;
}

#seeProyect1:hover {
background-color: #dbcbff; 
}

#seeProyect2{
border: 2px solid #6052f5;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size:1.7vh;
line-height: .9;
width: 9vw;
height: 5.5vh;
border-radius: .5vw;
color: #6052f5;
background-color: #FFF;
margin-left: 9vw;
transition-duration: 0.4s;
cursor: none;
}

#seeProyect2:hover {
background-color: #dbcbff; 
}

#seeProyect3{
border: 2px solid #6052f5;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size:1.7vh;
line-height: .9;
width: 9vw;
height: 5.5vh;
border-radius: .5vw;
color: #6052f5;
background-color: #FFF;
margin-left: 9vw;
transition-duration: 0.4s;
cursor: none;
}

#seeProyect3:hover {
background-color: #dbcbff; 
}


#vid1{
object-fit: cover;
overflow: hidden;
border-radius: 2vw 2vw 2vw 2vw;
margin-bottom: 1vw;
}

#vid2{
object-fit: cover;
overflow: hidden;
border-radius: 1vw 1vw 1vw 1vw;
margin-bottom: 1vw;
}

#vid3{
object-fit: cover;
overflow: hidden;
border-radius: 1vw 1vw 1vw 1vw;
margin-bottom: 1vw;
}
}

/*------------------- Vertical ------------------*/

@media screen and (orientation:portrait) {

#myH1{
font-size: -1vw;
font-weight: 600;
color: #6052f5;
}

#myH2{
font-size: -1vw;
font-weight: 600;
color: #6052f5;
}

#myH3{
font-size: -1vw;
font-weight: 600;
color: #6052f5;
}


#myG1{
font-size:2vw;
font-weight: 400;
color: #323232;
line-height: 2.5;
}

#myG2{
font-size:2vw;
font-weight: 400;
color: #323232;
line-height: 2.5;
}

#myG3{
font-size:2vw;
font-weight: 400;
color: #323232;
line-height: 2.5;
}

#card1{
z-index: 10;
background-color: rgb(250, 250, 250);
position: absolute;
width: 70%;
height: 39.5vh;
border-radius: 4vw 0vw 0vw 4vw;
text-align: left;
padding-left: 1vh;
right: 0;
left: none;
}

#card2{
z-index: 10;
background-color: rgb(250, 250, 250);
position: absolute;
width: 70%;
height: 39.5vh;
border-radius: 4vw 0vw 0vw 4vw;
text-align: left;
padding-left: 1vh;
right: 0;
left: none;
}

#card3{
z-index: 10;
background-color: rgb(250, 250, 250);
position: absolute;
width: 70%;
height: 39.5vh;
border-radius: 4vw 0vw 0vw 4vw;
text-align: left;
padding-left: 1vh;
right: 0;
left: none;
}

#seeProyect1{
position:absolute;
font-size:1.7vh;
line-height: .9;
width: 17vw;
height: 5vh;
border-radius: 1vw;
margin-left: 9vw;
top:0vw;
cursor: default;
}

#seeProyect2{
position:absolute;
font-size:1.7vh;
line-height: .9;
width: 17vw;
height: 5vh;
border-radius: 1vw;
margin-left: 9vw;
top:0vw;
cursor: default;
}

#seeProyect3{
position:absolute;
font-size:1.7vh;
line-height: .9;
width: 17vw;
height: 5vh;
border-radius: 1vw;
margin-left: 9vw;
top:0vw;
cursor: default;
}

#vid1{
object-fit: cover;
overflow: hidden;
border-radius: 3.5vw 3.5vw 3.5vw 3.5vw;
margin-bottom: 1.5vh;
}

#vid2{
object-fit: cover;
    overflow: hidden;
border-radius: 3.5vw 3.5vw 3.5vw 3.5vw;
margin-bottom: 1.5vh;
}

#vid3{
object-fit: cover;
overflow: hidden;
border-radius: 3.5vw 3.5vw 3.5vw 3.5vw;
margin-bottom: 1.5vh;
}

#myH1{
font-size: 2vw;
margin-left: 1vw;
font-weight: 500;
}

#myH2{
font-size: 2vw;
margin-left: 1vw;
font-weight: 500;
}

#myH3{
font-size: 2vw;
margin-left: 1vw;
font-weight: 500;
}

#myG1{
font-size:1.5vw;
margin-left: 1vw;
font-weight: 400;
}

#myG2{
font-size:1.5vw;
margin-left: 1vw;
font-weight: 400;
}

#myG3{
font-size:1.5vw;
margin-left: 1vw;
font-weight: 400;
}
}


/*---------------- Mobile - Vertical ---------------*/
@media only screen and (max-width: 480px){

#card1{
position: absolute;
left: 0;
right: none;
width: 83%;
height: 45vh;
border-radius: 0vw 6vw 6vw 0vw;
text-align: right;
padding-right: 3%;
padding-top: 2vw;
}

#card2{
position: absolute;
left: 0;
right: none;
width: 83%;
height: 45vh;
border-radius: 0vw 6vw 6vw 0vw;
text-align: right;
padding-right: 3%;
padding-top: 2vw;
}

#card3{
position: absolute;
left: 0;
right: none;
width: 83%;
height: 45vh;
border-radius: 0vw 6vw 6vw 0vw;
text-align: right;
padding-right: 3%;
padding-top: 2vw;
}

#seeProyect1{
position:absolute;
font-size:3vw;
line-height: .9;
width: 21vw;
height: 5vh;
border-radius: 1vw;
margin-left: 9vw;
top: -1vw;
}

#seeProyect2{
position:absolute;
font-size:3vw;
line-height: .9;
width: 21vw;
height: 5vh;
border-radius: 1vw;
margin-left: 9vw;
top: -1vw;
}

#seeProyect3{
position:absolute;
font-size:3vw;
line-height: .9;
width: 21vw;
height: 5vh;
border-radius: 1vw;
margin-left: 9vw;
top: -1vw;
}

#vid1{ 
object-fit: cover;
overflow: hidden;
border-radius: 5vw 5vw 5vw 5vw;
margin-bottom: 1.5vh;
}

#vid2{
object-fit: cover;
overflow: hidden;
border-radius: 5vw 5vw 5vw 5vw;
margin-bottom: 1.5vh;
}

#vid3{
object-fit: cover;
overflow: hidden;
border-radius: 5vw 5vw 5vw 5vw;
margin-bottom: 1.5vh;
}

#myH1{
font-size: 5vw;
font-weight: 500;
padding-right: 1vh;
}

#myH2{
font-size: 5vw;
font-weight: 500;
padding-right: 1vh;
}

#myH3{
font-size: 5vw;
font-weight: 500;
padding-right: 1vh;
}

#myG1{
font-size:4vw;
font-weight: 400;
padding-right: 1vh;
}

#myG2{
font-size:3.4vw;
font-weight: 400;
padding-right: 1vh;
}

#myG3{
font-size:3.4vw;
font-weight: 400;
padding-right: 1vh;
}
}

/*----------------------------------------------*/
/*-----------------LET'S WORK-------------------*/
/*----------------------------------------------*/


#letsWork{
position:absolute;
font-size:7vw;
font-weight: 600;
z-index: 50;
top: 160vw;
color: #FFF;
width: 50vw;
right:25vw;
text-align: center;
letter-spacing: -.3vw;
height: 15vw;
}

#letsWork{
color: #FFF;
font-size:9vw;
}

#contactar{
cursor: none;
position: absolute;
left: 18vw;
top:11.5vw;
padding-top:.6vw;
padding-bottom: .6vw;
background-color: #ffffffff;
color: #6052f5;
border: solid 1px;
transition-duration: 0.4s;
border-radius: .5vw;
font-size: 1.2vw;
font-family: "Poppins", sans-serif;
font-weight: 400;
width:15vw;
border: none;
z-index: 0;
}

#contactar:hover{
color: #6052f5;
font-weight: 600;
}

#footer{
position: absolute;
width: 100%;
height: 25.5vw;
box-sizing: content-box;
margin: 0;
padding: 0;
overflow: hidden;
max-width: 100%;
}

#transitionContainer {
position: fixed;
top: 0;
left: 0; 
width: 100vw;
height: auto;
overflow: hidden;
z-index: -1000;
}


@media only screen and (min-width: 1800px) {
#letsWork{
color: #FFF;
font-size:8vw;
}

#contactar{
left: 20vw;
top:10vw;
padding-top:.6vw;
padding-bottom: .6vw;
border-radius: .3vw;
font-size: 1vw;
width:12vw;
border: none;
z-index: 0;
}    
}

@media screen and (orientation:portrait) {
#letsWork{
top: 350vh !important;
font-size:13vw;
width: 75vw;
right:12vw;
}

#contactar{
left: 25vw;
top:17vw;
padding-top:.6vw;
padding-bottom: .6vw;
border-radius: .3vw;
font-size: 2.5vw;
font-weight: 600;
width:25vw;
border: none;
z-index: 0;
}    

#footer{
width: 100%;
height: 100vw;
max-width: 100%;
}
}    

@media only screen and (max-width: 480px){
#letsWork{
top: 410vh !important;
font-size:22vw;
width: 70vw;
right:12vw;
left: 15vw;
line-height: 1;
text-align: center !important;
}

#contactar{
left: 20vw;
top:48vw;
padding-top:.6vw;
padding-bottom: .6vw;
border-radius: 1.5vw;
font-size: 4.5vw;
font-weight: 600;
width:35vw;
border: none;
z-index: 0;
}    
}    